spring:
  application:
    name: shared-library

  jpa:
    hibernate:
      ddl-auto: validate

    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true

logging:
  level:
    root: INFO
    com.logistics.shared: DEBUG