spring:
  datasource:
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop

  flyway:
    enabled: true
    locations: classpath:db/migration

  hikari:
      maximum-pool-size: 2
      minimum-idle: 1
      connection-timeout: 10000


logging:
  level:
    root: WARN
    com.logistics.user: INFO
    org.springframework.test: INFO