spring:
  application:
    name: shared-library

  jpa:
    hibernate:
      ddl-auto: validate

    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
  flyway:
    enabled: false
logging:
  level:
    root: INFO
    com.logistics.shared: DEBUG

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
  api-docs:
    path: /v3/api-docs
  show-actuator: false